@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* Design system tokens */
  --color-violet: #594ce9;
  --color-corePurple: #4d3ef0;
  --color-softLavender: #e8e6fc;
  --color-graphite: #383838;
  --font-sans: var(--font-dmsans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono);
  --font-fustat: var(--font-fustat), ui-sans-serif, system-ui, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dmsans), ui-sans-serif, system-ui, sans-serif;
}
